<p id="notice"><%= notice %></p>

<p>
  <strong>User.belongs-to:</strong>
  <%= @note.user.belongs-to %>
</p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
